@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background: url('https://i.imgur.com/OZCvtvL.png');
  background-size: 64px;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3a8522;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #2e641a;
}

header h1 {
  font-size: 18px;
}

nav a {
  margin: 0 10px;
  color: #ffff88;
  text-decoration: none;
  background-color: #5e472e;
  padding: 8px 12px;
  border: 2px solid #3b2e1d;
  display: inline-block;
  margin-top: 10px;
}

main {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin: 20px;
  border: 4px solid #2e641a;
}

h2 {
  color: #ffff88;
  font-size: 16px;
}

ul li a {
  color: #55ff55;
  text-decoration: none;
}

footer {
  background-color: #3a8522;
  padding: 10px;
  text-align: center;
  border-top: 4px solid #2e641a;
}
